<ul nz-menu [nzMode]="'vertical'">
    <li nz-submenu nzTitle="Home" nzIcon="home">
        <ul *ngFor="let folder of folders">

            <!-- <li nz-menu-item>{{folder.name}}</li> -->
            <li *ngIf="folder?.folders" nz-submenu [nzTitle]="folder.name">

                <ul *ngFor="let subFolder of folder.folders">
                    <li>{{subFolder.name}}</li>
                </ul>

            </li>

            <!-- <li nz-menu-item>Movies</li>
            <li nz-menu-item>Music</li>
            <li nz-menu-item>Pictures</li> -->
        </ul>
    </li>
</ul>