<ul nz-menu [nzMode]="'vertical'">
    <li *ngFor="let menu of menuData" nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon"
        (nzOpenChange)="menu.onOpenChange ? menu.onOpenChange($event) : null">
        <ul>
            <!-- Menu Groups -->
            <li *ngFor="let group of menu.groups" nz-menu-group [nzTitle]="group.title">
                <ul>
                    <li *ngFor="let item of group.items" nz-menu-item>{{ item }}</li>
                </ul>
            </li>

            <!-- Submenus -->
            <li *ngFor="let submenu of menu.submenus" nz-submenu [nzTitle]="submenu.title">
                <ul>
                    <li *ngFor="let item of submenu.items" nz-menu-item>{{ item }}</li>
                </ul>
            </li>

            <!-- Direct Items -->
            <li *ngFor="let item of menu.items" nz-menu-item>{{ item }}</li>
        </ul>
    </li>
</ul>